<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RegEditor.Theme" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <RegEditor.Theme>
            <setting name="DefaultButtonBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="DefaultButtonForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FormBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="DataGridViewBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="DataGridViewRowsBackColor" serializeAs="String">
                <value>229, 229, 229</value>
            </setting>
            <setting name="DataGridViewRowsForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="datagrview_rgb_grid" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="combox_rgb_bg" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="TextBoxStyle" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="chkbox_style" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="TextBoxBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="TextBoxForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ComboboxForeColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="MenuStripBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="MenuStripForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RootsTreeViewBackColor" serializeAs="String">
                <value>246, 246, 246</value>
            </setting>
            <setting name="RootsTreeViewForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CancelButtonBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CancelButtonForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="combox_style" serializeAs="String">
                <value>Silver</value>
            </setting>
        </RegEditor.Theme>
    </userSettings>
</configuration>
